.switch {
    position: relative;
    height: 26px;
    width: 60px;
    display: inline-block;
}

.switch input {
    height: 0;
    width: 0;
    margin: 0;
}

.slider {
    position: absolute;
    height: 26px;
    width: 60px;
    border-radius: 25px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ccc;
}

.slider::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 22px;
    background-color: aliceblue;
    top: 3px;
    left: 4px;
    border-radius: 50%;
    cursor: pointer;
}

input:checked+.slider {
    background: #2196f3;
}

input:checked+.slider::before {
    transform: translateX(27px);
    /* half of the slider's length */
}